.lazy-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background: {
    color: transparent;
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  opacity: 0;
  @include transit(opacity $speed_color linear);
  &.done {
    opacity: 1;
  }
}
